 /* {
  margin: 0;ss
  padding: 0;
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-attachment: fixed;
}

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: dashed;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
border-radius: 10%;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr); 
  animation: box 8s infinite;
  border-radius: 10%;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272852;
  border-radius: 10%;
}

button span {
  position: relative;
  z-index: 1;
  border-radius: 10%;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}
h1 {
  color: #5ef643c4;
}
